<!DOCTYPE html>
<html>
<head>
  <title>Chatty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="public">
  <%= render partial: 'layouts/nav_bar' %>
  <div class="container">
    <%= render partial: 'layouts/demo_bar' if show_demo_bar? %>
    <%= yield %>
  </div>  
</body>
</html>
